<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task 3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/3/task3.css') }}">
</head>
<body>
    <a href="#openModal" class="no_decoration">Открыть модально окно</a>
    <div id="openModal" class="modal">
        <div class="container">
            <div>
                <a href="#close" class="close">x</a>
            </div>
            <p class="t-center header">Заголовок модального окна</p>
            <br>
            <p class="t-center">Содержимое модального окна</p>
            <form action="#" class="form">
                <fieldset class="t-center">
                    <legend class="t-center">Form 1</legend>
                    <input type="text"><br>
                    <input type="text"><br>
                    <input type="text"><br>
                    <input type="text"><br>
                    <input type="text"><br>
                    <button type="submit">Отправить</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>