<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 2</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/3/task2_2.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
            <li><a href="#">Menu 4</a></li>
            <li><a href="#">Menu 5</a></li>
            <li><a href="#">Menu 6</a></li>
            <li><a href="#">Menu 7</a></li>
            <li><a href="#">Menu 8</a></li>
            <li><a href="#">Menu 9</a></li>
            <li><a href="#">Menu 10</a></li>
            <li><a href="#">Menu 11</a></li>
            <li><a href="#">Menu 12</a></li>
            <li><a href="#">Menu 13</a></li>
            <li><a href="#">Menu 14</a></li>
            <li><a href="#">Menu 15</a></li>
        </ul>
    </nav>
</body>
</html>