<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/3/task1.css') }}">
</head>
<body>
    <header>
        HEADER
        <nav>
            NAVIGATION
        </nav>
    </header>
    <div class="container">
        <main>
            MAIN
            <section>
                SECTION
                <article>
                    ARTICLE 1
                </article>
                <article>
                    ARTICLE 2
                </article>
                <article>
                    ARTICLE 3
                </article>
            </section>
            <section>
                SECTION
                <article>
                    ARTICLE 4
                </article>
            </section>
        </main>
        <aside>
            ASIDE
        </aside>
    </div>
    <footer>
        FOOTER
    </footer>
</body>
</html>