<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
</head>
<body>
    <h1>Форма заявки на работу в зоопарке</h1>
    <span><i>Пожалуйста, заполните форму. Обязательные поля помечены</i></span>
    <span style="color: red">*</span>
    <form action="" method="post">
        <label>Имя*
            <input type="text">
        </label>
        <br>
        <label>Телефон
            <input type="phone">
        </label>
        <br>
        <label>Email*
            <input type="email">
        </label>
        <br>
        <label>Возраст*
            <input type="number">
        </label>
        <br>
        <label>Пол
            <select name="sex" id="sex">
                <option value="M">Мужчина</option>
                <option value="F">Женщина</option>
            </select>
        </label>
        <br>
        <label>Перечислите личные качества
            <textarea rows="4" cols="50"></textarea>
        </label>
        <br>
        <label>
            <input type="checkbox" value="value1">Зебра
            <input type="checkbox" value="value1">Кот
            <input type="checkbox" value="value1">Анаконда
            <input type="checkbox" value="value1">Человек
            <input type="checkbox" value="value1">Слон
            <input type="checkbox" value="value1">Антилопа
            <input type="checkbox" value="value1">Голубь
            <input type="checkbox" value="value1">Краб
        </label>
    </form>
</body>
</html>