<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cites</title>
</head>
<body>
    <div>Cites: </div>
    <div>
        <ul>
            <li>
                <div>
                    <img src="/static/img/Babruysk.jpg" alt="Babruysk" height="840" width="560">
                    <img src="/static/img/Baranavichy.jpg" alt="Baranavichy" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Braslaw.jpg" alt="Braslaw" height="840" width="560">
                    <img src="/static/img/Brest.jpg" alt="Brest" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Chavusy.jpg" alt="Chavusy" height="840" width="560">
                    <img src="/static/img/Homyel.jpg" alt="Homyel" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Hrodna.jpg" alt="Hrodna" height="840" width="560">
                    <img src="/static/img/Kobryn.jpg" alt="Kobryn" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Lida.jpg" alt="Lida" height="840" width="560">
                    <img src="/static/img/Mahilyow.jpg" alt="Mahilyow" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Maladzyechna.jpg" alt="Maladzyechna" height="840" width="560">
                    <img src="/static/img/Mazyr.jpg" alt="Mazyr" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Minsk.jpg" alt="Minsk" height="840" width="560">
                    <img src="/static/img/Orsha.jpg" alt="Orsha" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Pinsk.jpg" alt="Pinsk" height="840" width="560">
                    <img src="/static/img/Polatsk.jpg" alt="Polatsk" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Rahachow.jpg" alt="Rahachow" height="840" width="560">
                    <img src="/static/img/Rechytsa.jpg" alt="Rechytsa" height="840" width="560">
                </div>
            </li>
            <li>
                <div>
                    <img src="/static/img/Vitebsk.jpg" alt="Vitebsk" height="840" width="560">
                    <img src="/static/img/Zhlobin.jpg" alt="Zhlobin" height="840" width="560">
                </div>
            </li>
        </ul>
    </div>
    <div>
        <a href="/">На главную</a>
    </div>
</body>
</html>