<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form_container">
  <form action="/form1/" method="post" enctype="multipart/form-data">
    <label>
      Your name:
      <input type="text" placeholder="name" name="name">
    </label>
    <br>
    <label>
      Email:
      <input type="email" placeholder="email" name="email">
    </label>
    <br>
    <label>
      Age:
      <input type="number" placeholder="age" name="age">
    </label>
    <br>
    <input type="file" placeholder="your file" name="file">
    <br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</div>
</body>
</html>