<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
</head>
<body>
    <a href="/homeworks/2/task1.html">Task 1</a>
    <br>
    <a href="/homeworks/1/task2.html">Task 2</a>
    <br>
    <a href="/homeworks/1/task3.html">Task 3</a>
    <br>
    <a href="/homeworks/1/task4.html">Task 4</a>
    <br>
    <a href="/homeworks/1/task5.html">Task 5</a>
    <br>
    <a href="/homeworks/1/task6.html">Task 6</a>
    <br>
    <a href="/homeworks/1/task7.html">Task 7</a>
    <br>
    <a href="/homeworks/1/task8.html">Task 8</a>
    <br>
    <a href="/homeworks/1/task9.html">Task 9</a>
    <br>
    <a href="/homeworks/1/task10.html">Task 10</a>
</body>
</html>