<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task2</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/1/task2.css') }}">
</head>
<body>
    <div>
        <div>
            <h1 class="t-center">Евгений Евтушенко</h1>
            <p class="t-center">-1955-</p>
            <pre class="b-center">Бывало, спит у ног собака,
костер занявшийся гудит,
и женщина из полумрака
глазами зыбкими глядит.

Потом под пихтою приляжет
на куртку рыжую мою
и мне,
   задумчивая,
            скажет:
"А ну-ка, спой!.."-
                и я пою.</pre>
        </div>
    </div>
</body>
</html>