<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 5</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/1/task5.css') }}">
</head>
<body>
    <table class="b-center">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цвет</th>
                <th>Твёрдость по Моосу</th>
                <th>Формула</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="blue">Алмаз</td>
            <td class="yellow">Белый</td>
            <td class="t-center blue">10</td>
            <td class="yellow">С</td>
        </tr>
        <tr>
            <td class="blue">Рубин</td>
            <td class="yellow">Красный</td>
            <td class="t-center blue">9</td>
            <td class="yellow">Al<sub>2</sub>O<sub>3</sub></td>
        </tr>
        <tr>
            <td class="blue">Аметист</td>
            <td class="yellow">Голубой</td>
            <td class="t-center blue">7</td>
            <td class="yellow">SiO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="blue">Изумруд</td>
            <td class="yellow">Зелёный</td>
            <td class="t-center blue">8</td>
            <td class="yellow">Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></td>
        </tr>
        <tr>
            <td class="blue">Сапфир</td>
            <td class="yellow">Голубой</td>
            <td class="t-center blue">9</td>
            <td class="yellow">Al<sub>2</sub>O<sub>3</sub></td>
        </tr>
        </tbody>
    </table>
</body>
</html>