<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeworks/1/task4.css') }}">
</head>
<body>
    <div>
        <table class="b-center">
            <thead>
                <tr>
                    <th></th>
                    <th>2004</th>
                    <th>2005</th>
                    <th>2006</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="no-right">Рубины</td>
                    <td class="t-center non-border">43</td>
                    <td class="t-center non-border">51</td>
                    <td class="t-center no-left">79</td>
                </tr>
                <tr>
                    <td class="no-right">Изумруды</td>
                    <td class="t-center non-border">28</td>
                    <td class="t-center non-border">34</td>
                    <td class="t-center no-left">48</td>
                </tr>
                <tr>
                    <td class="no-right">Сапфиры</td>
                    <td class="t-center non-border">29</td>
                    <td class="t-center non-border">57</td>
                    <td class="t-center no-left">36</td>
                </tr>
                <tr>
                    <td class="no-right">Аметисты</td>
                    <td class="t-center non-border">23</td>
                    <td class="t-center non-border">64</td>
                    <td class="t-center no-left">97</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>